@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure proper scrolling */
html, body {
    height: 100%;
    overflow-x: hidden;
  }
  
  /* Sidebar transition */
  aside {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Prevent content shift */
  main {
    transition: margin 0.3s ease-in-out;
  }